<!DOCTYPE html>
<html lang="en">

<head>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../Index.css"> 
    <style>
    </style>
</head>

<body>

    <header>
        <!-- Navigation for home page -->
        <div class="right">
            <h2><button type="button" onclick="myFont()">Font resizer</button> | <button onclick="document.getElementById('myImage').src='cat0.jpg'">Original Style Switcher</button> | <button onclick="document.getElementById('myImage').src='cat1.jpg'">Style Switcher 1</button> | <button onclick="document.getElementById('myImage').src='cat2.jpg'">Style Switcher 2</button> | <a href="login.html">Admin Login</a></h2>
        </div>
    </header>
    <!-- Navigation for other pages -->

    <nav>
        <ul style="font-size:25px;">
            <li><a href="index.html">Welcome Page</a></li><br><br><br>
            <li><a href="post.html">Cats (Post.html)</a></li><br><br><br>
            <li><a href="x.html">Posts #3</a></li><br><br><br>
            <li><a href="x.html">Posts #4</a></li>
        </ul>
    </nav>

    <article id="FontSwitcher" class="center">
        <!-- Home page paragraph -->   
        <h1>Welcome to the Cat Show!</h1>
        <p>This website is dedicated for appreciating the cats.</p>
        <p>Please take your time to enjoy around this website.</p>
        <img id="myImage" src="https://c1.staticflickr.com/3/2807/9263427133_1ea1bf0de1_b.jpg" width="400" height="300">
    </article>

    <script>
        function myFont() {
            document.getElementById("FontSwitcher").style.font = "italic bold 20px arial,serif";
        }
    </script>

    <footer>
        <!-- Footers  for reserved rights -->
        <p>© All rights reserved to Kevin Kim</p>
    </footer>

</body>

</html>